<app-header-navigation></app-header-navigation>

<div class="container-fluid">
  <!-- hero image -->
  <div class="hero-container d-flex flex-column">
    <img src="../../../assets/images/illustration-intro.png" alt="" />
    <h4>All your files in one secure location,</h4>
    <h4>accessible anywhere.</h4>

    <p>
      Flyo stores all your most important files in one secure location. <br />
      Access them wherever you need, share and collabarate with <br />
      friends family, and co-workers
    </p>
  </div>
</div>
