@import "../../../styles/styles.scss";


.main-nav{
    background-color: $primary-color-1;
    padding:0 3rem;

    .navbar__item{
        color:white;
        font-size: 2rem;
        display: inline-block;

        &:not(:last-child){
            margin-right: 5rem;
        }
    }
}