 /* variables */
 $primary-color-1: #1c2431; // intro & email sign up background
 $primary-color-2: #181f2a; // main background
 $primary-color-3: #0b1523; // footer background
 $primary-color-4: #202a3c; // testimonials background

 $accent-cyan-color: #65e2d9; // inside call-to-action gradient
 $accent-blue-color: #339ecc; // inside call-to-action gradient
 $light-red: #ff4242; // error

 $netural-white-color: #ffffff;
 $font-size:62.5%;